.footer {
  background: #000;
  color: #fff;
  padding: 60px 80px;
  font-family: "Montserrat", sans-serif;
}

.footer-top {
  display: flex;
  justify-content: space-between;
  gap: 80px;
  flex-wrap: wrap;
}

.footer-logo {
  font-size: 55px;
  font-weight: 800;
  color: #ffb300;
  margin-bottom: 10px;
}

.footer-tagline {
  font-weight: 700;
  margin-bottom: 10px;
}

.footer-desc {
  max-width: 450px;
  line-height: 1.6;
  font-size: 15px;
}

.footer-links {
  display: flex;
  gap: 60px;
}

.footer-column h3 {
  color: #ffb300;
  font-size: 18px;
  margin-bottom: 15px;
}

.footer-column a {
  color: #fff;
  text-decoration: none;
  margin-bottom: 8px;
  display: block;
  transition: 0.3s;
}

.footer-column a:hover {
  color: #ffb300;
}

.footer-divider {
  margin: 30px 0;
  border: 0;
  height: 1px;
  background: #353535;
}

.footer-bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 15px;
  flex-wrap: wrap;
}

.footer-social {
  display: flex;
  gap: 25px;
  font-size: 22px;
}

.footer-social svg {
  cursor: pointer;
  transition: 0.3s;
}

.footer-social svg:hover {
  color: #ffb300;
}

.developer span {
  color: #ffb300;
}

/* RESPONSIVE */
@media (max-width: 900px) {
  .footer-top {
    flex-direction: column;
  }
  .footer-links {
    flex-direction: column;
  }
  .footer-bottom {
    flex-direction: column;
    gap: 15px;
  }
}
