.home-hero {
  width: 100%;
  height: 100vh; /* full screen */
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  position: relative;
  display: flex;
  align-items: center;
  padding-left: 5%;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.45); /* dark overlay */
}

.hero-content {
  position: relative;
  z-index: 10;
  width: 50%;
  color: white;
  padding-bottom: 70px;
}

.hero-title {
  font-size: 3.4rem;
  font-weight: 800;
  margin-bottom: 1rem;
}

.hero-subtext {
  font-size: 1.1rem;
  line-height: 1.6;
  max-width: 550px;
  margin-bottom: 2rem;
  color: #e1e1e1;
}

.hero-btn {
  background: #f5a623;
  padding: 12px 30px;
  border: none;
  font-size: 1.1rem;
  border-radius: 30px;
  cursor: pointer;
  color: black;
  font-weight: 600;
  transition: 0.3s;
}

.hero-btn:hover {
  background: #c68418;
}
