.navbar {
  width: 100%;
  background: black;
  color: white;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  padding: 10px 0;
  border-bottom: 2px solid #f5a623;
}

.nav-container {
  width: 90%;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* LOGO */
.nav-logo h1 {
  font-size: 42px;
  font-weight: 900;
  margin: 0;
  letter-spacing: 1px;
  color: #f5a623;
}

.nav-logo .tagline {
  font-size: 10px;
  letter-spacing: 3px;
  display: block;
  margin-top: -5px;
  color: white;
}

/* LINKS */
.nav-links {
  display: flex;
  gap: 25px;
  list-style: none;
  font-size: 15px;
  font-weight: 500;
}

.nav-links li {
  cursor: pointer;
  transition: 0.3s;
}

.nav-links li:hover,
.nav-links .active {
  color: #f5a623;
}

/* ICONS */
.nav-icons {
  display: flex;
  gap: 18px;
}

.icon {
  font-size: 20px;
  cursor: pointer;
  transition: 0.3s;
}

.icon:hover {
  color: #f5a623;
}

.navbar {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
  background: rgba(0,0,0,0.9); /* keeps transparency effect */
  backdrop-filter: blur(4px);
}
