.video-section {
  padding: 60px 100px;
  text-align: center;
  color: white;
}

.video-title {
  font-size: 52px;
  font-weight: 800;
  margin-bottom: 10px;
}

.video-title span {
  color: #ffb300; /* Yellow */
}

.video-subtext {
  font-size: 20px;
  opacity: 0.8;
  margin-bottom: 60px;
}

.video-grid {
  display: flex;
  justify-content: center;
  gap: 35px;
  flex-wrap: wrap;
}

.video-card {
  width: 31%;
  min-width: 380px;
  border-radius: 20px;
  overflow: hidden;
  position: relative;
  box-shadow: 0px 0px 40px rgba(255, 179, 0, 0.22);
  background: #000;
}

.video-frame-wrapper {
  position: relative;
  width: 100%;
  height: 260px;
}

.video-frame-wrapper iframe {
  width: 100%;
  height: 100%;
  border-radius: 20px;
  border: none;
}

.video-overlay {
  position: absolute;
  bottom: 15px;
  left: 20px;
}

.video-overlay h3 {
  font-size: 30px;
  font-weight: 900;
  line-height: 1.2;
  color: #fff;
  text-align: left;
  text-shadow: 0px 0px 12px rgba(0, 0, 0, 0.8);
}
